*, html, body {
    margin: 0px;
    padding: 0px;
}

body {
    background: #F4F7F9;
}

.zero {
    margin: 0px;
    padding: 0px;
}

.topMargin {
    margin: 20px 0px;
}

.clear {
    background-color: rgba(0,0,0,0);
}

.mainTitle {
    color: #1DA1F3;
    height:50px;
    width:100%;
    background-color:#456;
    text-align:center;
    padding-top:12px;
}

.mainBody {
    height:calc(100vh - 50px);
    width:100%;
}

.indent {
    margin: 20px;
}

.color2 {
    color: #AAAAAA;
}

.panel {
    overflow: scroll;
}


.twitter_box {
    border-radius: 5px;
    /*border: 2px solid #D7D8E9;*/
    padding: 20px;
    background-color: #456;
}


#twitter_logo {
    border-radius: 5px;
    float: left;
    margin-right: 20px;
}


.twitter_title {
    margin: 0px;
    margin-top: 7px;
    font-size: 20px;
    color: #FFFFFF;

}

.twitter_footer {
    margin: 0px;
    height: 20px;
}

.icons {
    height: 30px;
    width: 30px;
}

button {
    display: flex-inline;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    fill: currentColor;
}

#map {
    height: 100%;
    width: 100%;
    margin: 0px;
 }


#loader {
     margin: 30px auto;
     width: 140px;
     height: 140px;
     border: 16px solid #f3f3f3;
     border-radius: 50%;
     border-top: 16px solid #F0AD4E;
     -webkit-animation: spin 1.5s linear infinite;
     animation: spin 1.5s linear infinite;
 }

@-webkit-keyframes spin {
     0% { -webkit-transform: rotate(0deg); }
     100% { -webkit-transform: rotate(360deg); }
 }

@keyframes spin {
     0% { transform: rotate(0deg); }
     100% { transform: rotate(360deg); }
}

.spacing {
    margin: 5px 0px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

 /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
